<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restoran Ramdani</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat&display=swap"
    rel="stylesheet">
  <meta name="theme-color" content="#F5EBE0" />
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <header>
    <nav>
      <div class="logo">
        Restoran Ramdani
      </div>

      <div class="hamburger-menu">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul>
        <li><a href="">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/muhammad-ramdani" target="_blank">About Us</a></li>
      </ul>
    </nav>

    <div class="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="">
    </div>
  </header>

  <main id="maincontent">
    <h1>Explore Restaurant</h1>
    <div id="daftarRestoran" class="wrapper"></div>
  </main>

  <footer>
    <hr>
    <p>Copyright &#169; 2023 - <span>Restoran Ramdani</span></p>
  </footer>
</body>

</html>